 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

body{
  font-family: "Roboto", sans-serif;
  }

/*banner-wrap styles*/

.banner-wrap{
background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5),rgba(0,0,0,1)),
                url(./assets/Banner\ Wrap\ BG.jpg) ;
background-size: cover;
color: white;
min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 80px 0px 80px;
    height:45px;
    
}

.navbar > a{
    background-color:rgb(229 9 20);
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
}

.navbar img{
    height: 2.5rem;
}

.bannertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 70vh;
}

.bannertext h1{
    margin-bottom: 8px;
    font-weight: 700;
}


.bannertext button{
    background-color: rgb(229 9 20);
    color: white;
    padding: 12px 24px;
    font-weight: 400;
   
}


.get-started-form{
    padding-top: 16px;
}

.controls > input{
     padding: 12px 24px;
}


/*mid-section styles*/



.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.mid-section{
    background-color: black;
    padding: 0 10vw;
}

.mid-section h2 {
    color: white;
}

.trending-shows{
    margin-top: 90px;
}


div span {
    -webkit-text-stroke: 1px white;
    font-weight: 500;
    font-size: 10rem;
    position: relative;
    right: 25px;
    font-family: 'Bebas Neue', sans-serif;
}

.movies{
    display:flex;
    justify-content: space-between;
}

div.card {
    width: 214px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;

}

#show1{
    background-image: url(./assets/show1.webp);
    border-radius: 3%;
}

#show2{
    background-image: url(./assets/show2.webp);
    border-radius: 3%;
}

#show3{
    background-image: url(./assets/show3.webp);
    border-radius: 3%;
}

#show4{
    background-image: url(./assets/show4.webp);
    border-radius: 3%;
}

#show5{
    background-image: url(./assets/show5.webp);
    border-radius: 3%;
}

/*More Reasons styling*/

.why{
    margin-top: 90px;
}



.reasons{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 20px;
}

.reasons > .card{
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 3%;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.reasons section{
    margin-left: 12px;
}



.reasons h3{
    padding-top: 15px;
}


.reasons p{
    color: rgba(255, 255, 255, 0.7);
    padding-top: 10px;
    line-height: 1.5;
}


/*FAQ Styles*/

.faq{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 90px;
}

details{
    background: #2d2d2d;
    padding: 12px;
    margin-bottom: 7px;
}


.faq-item{
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 100;
}

.faq-item summary{
    padding: 20px 25px;
    font-size: 1.1rem;
    list-style: none;          /* removes the default arrow */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item summary::after {
    content: '+';
    font-size: 2rem;
    font-weight: 300;
}




/*get started styles*/

.get-started{
    color: white;
    margin-top: 90px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
   }

.get-started button{
    background-color: rgb(229 9 20);
    color: white;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.get-started input{
    padding: 7px 20px;
}




/*footer styles*/
.footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 10vw;
    
}


.footer a{
    text-decoration: underline;
    color:rgba(255, 255, 255, 0.7) ;
}

.footer-items ul{
    list-style-type: none;
    }

.footer-items li{
    cursor: pointer;
    line-height: 2;
}




.footer-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    text-decoration: underline;
    padding-top: 50px;
}

.footer > .language{
    margin-top: 30px;
    padding-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.language select {
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
    border: none;
}


.language > .material-icons{
    font-size: 18px;
    vertical-align: middle;
}

.declaration{
    padding-bottom: 30px;
}